* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	border-top: 278px solid #00BCD4;
	background-color: #E0F7FA;
}

a, a:hover, a:focus {
	color: white;
	text-decoration: none;	
}

.box {
	width: 640px;
	margin: auto;
	margin-top: -100px;
	background-color: #fff;
	box-shadow: 0px 0px 5px #C9DDE0;
}

.inner-box {
	width: 606px;
	margin: auto;
	margin-top: 34px;
	margin-bottom: 34px;
}

.border {
	background-color: rgb(132, 255, 255);
	height: 5px;
}

.title {
	box-sizing: border-box;
	font-size: 34px;
	line-height: 135%;
	max-width: 100%;
	min-width: 0%;
}

.freeBird {
	color: #db4437;
	margin-top: 22px;
	font-size: 13px;
}

.inputBox {
	background-color: transparent;
	margin-top: 2px;
	padding: 16px 17px;
	page-break-inside: avoid;
	transition: background-color 200ms cubic-bezier(0.0,0.0,0.2,1);
}

.formTitle {
	color: #000;
	font-size: 20px;
	line-height: 135%;
	width: 100%;
}

.input {
	-moz-box-align: center;
	box-align: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-pack: justify;
	justify-content: space-between;
	padding: .5em .5em .5em 0;
}

input {
	box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    border-bottom: .2px solid grey ;
    opacity: 0.3;
    display: block;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 0;
    z-index: 0;
    transition: border-bottom 0.3s ease-in-out;
}

input:focus{
	border-bottom: 2px solid #00BCD4; 
	opacity: 1;
}

#shortText {
	max-width: 282px;
}

.button {
	text-align: center;
}

.button div {
	padding: 15px 0px;
	background-color: aqua;
	width: 150px;
	margin: auto;
	margin-bottom: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 900;
}

textarea {
	min-width: 572px !important;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.button div:hover {
	box-shadow: 0px 0px 5px #0061ff;
}

.ac input {
	margin-bottom: 30px;
	width: 150px;
}

.hide {
	display: none;
}

/* CV Style */

.cvSection {
	width: 816px;
	height: 1344px;
	background-color: #fff;
	margin: auto;
}

.section1 {
	padding: 5em;
}

.section1 h3 {
	font-size: 30px;
	margin-bottom: 10px;
}

.heroText h4 {
	font-weight: 300;
	margin-bottom: 10px;
}

.precise th, .precise td {
	font-weight: 300;
	text-align: left;
	padding-bottom: 30px;
	font-size: 20px;

}

.precise th {
	width: 250px;
}

.precise td {
	width: 490px;
}

.table2 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.academy th, .academy td {
	width: 150px;
	padding-bottom: 10px;
}

.lang {
	padding-bottom: 30px;
}

#lang {
	padding-top: 10px;
}

.ref {
	padding-bottom: 30px;
}

#ref {
	padding-top: 10px;
}

.footer {
	background-color: #345D7D;
	padding: 20px 0px;
	text-align: center;
	font-size: 16px;
}

.love {
	display: inline-block;
	position: relative;
	top: .2em;
	font-size: 1.4em;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	transform: scale(.9);
	-webkit-animation: love .5s infinite linear alternate-reverse;
	-moz-animation: love .5s infinite linear alternate-reverse;
	animation: love .5s infinite linear alternate-reverse;
	color: #ef4667;
}

@-webkit-keyframes love {
	to {
		-webkit-transform:scale(1.5);
	}
}
@-moz-keyframes love {
	to {
		-moz-transform:scale(1.5);
	}
}
@keyframes love {
	to {
		transform:scale(1.5);
	}
}